In [1]:
import requests 
from secret import key
import pandas as pd

from collections import defaultdict

In [2]:
abbrev_file = 'us-state-abbreviations.txt'
with open(abbrev_file, 'r') as file:
    # Read the file contents and split by lines
    state_abbreviations = [line.strip() for line in file.readlines()]

# Print the list of state abbreviations
print(state_abbreviations)

['AK', 'AL', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [85]:
def get_st_df(state, student_size=1000):
    # Base URL for the College Scorecard API
    url = "https://api.data.gov/ed/collegescorecard/v1/schools"
    
    # Your API key (replace with your own key)
    api_key = key
    
    fields = ['school.name',
              'latest.student.size',
              'school.state',
              'latest.admissions.admission_rate.overall',
              'latest.admissions.sat_scores.average.overall',
              'latest.admissions.act_scores.midpoint.cumulative',
              'latest.admissions.test_requirements',
              f'student.size__range={5000}..']
    
    params = {
        'api_key': api_key,
        'school.state': state, 
        'fields': ','.join(fields), 
        'page': 0,  # Page number for pagination

        # ---- NEEED TO INCREASE THIS NUMBER!
        'per_page': 50  # Number of records per page (you can adjust this)
    }
    
    # Send the GET request
    response = requests.get(url, params=params)
    state_data = response.json()['results']

    return state_data

In [86]:
# get_st_df('AL')

In [87]:
# try to get a call and iterate thorugh each state and store in a single dataframe! 
def get_all_states_data(key, st_list):
    """ Iterates through all states and collects the data for each
    Params:
    - key = API key
    Returns:
    A dictionary with states as keys and corresponding school data as values """
    
    # Dictionary to store data for all states
    all_states_data = []
    
    # Loop through all states
    for state in st_list:
        print(f"Retrieving data for {state}...")
        state_data = get_st_df(state)
        
        all_states_data.append(state_data)
        
    # # Combine all state data into a single DataFrame
    # combined_df = pd.concat(all_states_data, ignore_index=True)
    return all_states_data

In [88]:
all_states = get_all_states_data(key, state_abbreviations)

# # first test with the first 6 states 
# test_st = state_abbreviations[:2]

# all_states = get_all_states_data(key, test_st)

Retrieving data for AK...
Retrieving data for AL...
Retrieving data for AZ...
Retrieving data for AR...
Retrieving data for CA...
Retrieving data for CO...
Retrieving data for CT...
Retrieving data for DE...
Retrieving data for FL...
Retrieving data for GA...
Retrieving data for HI...
Retrieving data for ID...
Retrieving data for IL...
Retrieving data for IN...
Retrieving data for IA...
Retrieving data for KS...
Retrieving data for KY...
Retrieving data for LA...
Retrieving data for ME...
Retrieving data for MD...
Retrieving data for MA...
Retrieving data for MI...
Retrieving data for MN...
Retrieving data for MS...
Retrieving data for MO...
Retrieving data for MT...
Retrieving data for NE...
Retrieving data for NV...
Retrieving data for NH...
Retrieving data for NJ...
Retrieving data for NM...
Retrieving data for NY...
Retrieving data for NC...
Retrieving data for ND...
Retrieving data for OH...
Retrieving data for OK...
Retrieving data for OR...
Retrieving data for PA...
Retrieving data for RI...
Retrieving data for SC...
Retrieving data for SD...
Retrieving data for TN...
Retrieving data for TX...
Retrieving data for UT...
Retrieving data for VT...
Retrieving data for VA...
Retrieving data for WA...
Retrieving data for WV...
Retrieving data for WI...
Retrieving data for WY...

In [89]:
flattened_data = [school for state_data in all_states for school in state_data]

# Convert to a DataFrame
df = pd.DataFrame(flattened_data)

df

,latest.student.size,latest.admissions.admission_rate.overall,latest.admissions.sat_scores.average.overall,latest.admissions.act_scores.midpoint.cumulative,latest.admissions.test_requirements,school.name,school.state
0,6778,0.6532,NaN,NaN,3,University of Alaska Anchorage,AK
1,31,NaN,NaN,NaN,0,Alaska Bible College,AK
2,4010,NaN,NaN,22.0,0,University of Alaska Fairbanks,AK
3,964,0.6266,NaN,NaN,3,University of Alaska Southeast,AK
4,457,0.9931,NaN,NaN,3,Alaska Pacific University,AK
...,...,...,...,...,...,...,...
2156,1700,NaN,NaN,NaN,0,Northern Wyoming Community College District,WY
2157,1239,NaN,NaN,NaN,0,Western Wyoming Community College,WY
2158,45,NaN,NaN,NaN,0,Cheeks Beauty Academy,WY
2159,993,NaN,NaN,NaN,0,WyoTech,WY
2160,8363,0.9598,NaN,NaN,3,University of Wyoming,WY

In [90]:
# --- convert numerical requirements to strings 
test_labels = {
        0: 'Not Required',
        1: 'Required',
        2: 'Recommended',
        3: 'Niether Rec. or Req.',
        4: 'Not Known'}

df['test_requirement_label'] = df['latest.admissions.test_requirements'].map(
    lambda x: test_labels.get(x, 'Considered but not Req.')
)

df.head()

,latest.student.size,latest.admissions.admission_rate.overall,latest.admissions.sat_scores.average.overall,latest.admissions.act_scores.midpoint.cumulative,latest.admissions.test_requirements,school.name,school.state,test_requirement_label
0,6778,0.6532,NaN,NaN,3,University of Alaska Anchorage,AK,Niether Rec. or Req.
1,31,NaN,NaN,NaN,0,Alaska Bible College,AK,Not Required
2,4010,NaN,NaN,22.0,0,University of Alaska Fairbanks,AK,Not Required
3,964,0.6266,NaN,NaN,3,University of Alaska Southeast,AK,Niether Rec. or Req.
4,457,0.9931,NaN,NaN,3,Alaska Pacific University,AK,Niether Rec. or Req.

In [91]:
nan_count = df.isna().sum()
nan_count

latest.student.size                                    0
latest.admissions.admission_rate.overall            1295
latest.admissions.sat_scores.average.overall        1595
latest.admissions.act_scores.midpoint.cumulative    1635
latest.admissions.test_requirements                    0
school.name                                            0
school.state                                           0
test_requirement_label                                 0
dtype: int64

In [92]:
df[['latest.admissions.admission_rate.overall', 'latest.admissions.sat_scores.average.overall', 'latest.admissions.act_scores.midpoint.cumulative', 'school.state']].groupby(by='school.state').mean()

,latest.admissions.admission_rate.overall,latest.admissions.sat_scores.average.overall,latest.admissions.act_scores.midpoint.cumulative
school.state,,,
AK,0.757633,NaN,22.000000
AL,0.760400,1133.375000,22.312500
AR,0.712137,1101.714286,22.833333
AZ,0.827987,1253.500000,23.666667
CA,0.632703,1213.333333,24.666667
CO,0.774490,1198.000000,25.076923
CT,0.637850,1257.933333,29.200000
DE,0.621300,1114.500000,29.000000
FL,0.680262,1158.750000,24.066667
GA,0.645322,1126.777778,22.900000
HI,0.780167,1093.000000,22.200000
IA,0.799152,1170.666667,23.611111
ID,0.820975,1103.285714,23.400000
IL,0.701379,1138.666667,22.888889
IN,0.771919,1155.640000,24.916667
KS,0.759665,1078.500000,21.545455
KY,0.734247,1103.625000,23.133333
LA,0.762795,1082.352941,21.375000
MA,0.590794,1301.529412,28.875000
MD,0.690863,1206.750000,25.090909
ME,0.710735,1249.777778,27.000000
MI,0.756950,1157.428571,24.533333
MN,0.695865,1220.235294,25.307692
MO,0.791422,1093.250000,22.153846
MS,0.737325,1095.142857,21.857143
MT,0.776029,1092.200000,22.833333
NC,0.666829,1153.785714,22.285714
ND,0.796333,1071.666667,20.857143
NE,0.757556,1143.818182,22.700000
NH,0.844231,1231.800000,28.500000
NJ,0.793718,1121.083333,23.571429
NM,0.694643,1116.250000,23.200000
NV,0.870460,1092.000000,23.000000
NY,0.586586,1345.125000,29.875000
OH,0.746824,1139.187500,23.500000
OK,0.689394,1092.625000,21.500000
OR,0.790061,1234.555556,24.000000
PA,0.631196,1207.058824,26.500000
RI,0.654658,1230.300000,30.000000
SC,0.714958,1116.631579,22.444444
SD,0.818667,1109.700000,22.500000
TN,0.776135,1133.687500,22.111111
TX,0.716543,1121.454545,23.600000
UT,0.840143,1233.200000,26.000000
VA,0.772762,1153.823529,24.866667
VT,0.639867,1301.833333,27.666667
WA,0.855973,1232.625000,25.875000
WI,0.801739,1153.050000,23.695652
WV,0.834394,1025.166667,21.538462
WY,0.959800,NaN,NaN

In [93]:
df.shape

(2161, 8)